* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    /* border: 1px black solid; */
}

.contianer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    width: 97vw; 
    height: 97vh; /* these measurements used to stop scrolling rather than 100*/
}

.head-option {
    display: grid;
    grid-column-start: 2;
    grid-column-end: span 2;
    justify-self: center;
}

.head-option header {
    align-items: center;
}

.head-option #option {
    justify-self: center;
}

.main-content coffee-shop-container {
    display: grid;
    grid-row-start: 2;
    grid-column-end: span 2;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}