<div class="shop-content">
    <!-- <div class="card__emoji">{%IMAGE%}</div> -->
    <div class="coffee_shop__details">
        <div class="card__detail-box">
            <h6 class="card__detail">{%NAME%}</h6>
        </div>

        <div class="card__detail-box">
            <h6 class="card__detail card__detail--address">{%ADDRESS%}</h6>
        </div>
        <div class="card__detail-box {%NOT_ROASTER%}">
                <h6 class="card__detail card__detail--roaster">{%ROASTER%}</h6>
            </div>
        <div class="card__detail-box">
            <h6 class="card__detail card__detail--website">{%WEBSITE%}</h6>
        </div>
    </div>

    
        
        <h3>Website:</h3>
    
</div>