<div class="shop_content">
    <!-- <div class="card__emoji">{%IMAGE%}</div> -->
    <div class="coffee_shop_details">
        <div class="card__details">
            <div class="card_detail-box">
                <h6 class="card_detail">{%NAME%}</h6>
            </div>

            <div class="card_detail-box">
                <h6 class="card_detail card_detail-address">{%ADDRESS%}</h6>
            </div>
            <div class="card_detail-box {%NOT_ROASTER%}">
                <h6 class="card_detail card_detail-roaster">{%ROASTER%}</h6>
            </div>
            <div class="card_detail-box">
                <h6 class="card_detail card_detail-website">{%WEBSITE%}</h6>
            </div>
        </div>
    </div>



</div>