<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <title>Coffee Finder</title>

</head>

<body>

    <div class="contianer">
        <div class="head-option">
            <h1 class="header">Speciality Coffee Shops \e29895</h1>
            <option id="option" value="Choice TBD">Choice TBD</option>
        </div>

        <div class="cards-container">
            {%COFFEE_CARDS%}
        </div>

    </div>




</body>

</html>