<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles_cafe.css">

    <title>Cafe List</title>
</head>
<body>
    <div class="container_cafes">
        <figure class="cafe">
            <div class="cafe__roaster {%NOT_ROASTER%}"><h4>Roaster</h4></div>

            <div class="cafe__hero"></div>

            <div class="cafe_address"></div>
            <div class="cafe_website"></div>
        </figure>
    </div>
</body>
</html>